@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

.content{
  margin-left: 320px;
}

.footer{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;
position: absolute;
width: 176px;
height: 52px;
left: 50%;
top: 90%;
}
.footer img{

  border: 1px solid #283891;
  border-radius: 100px;
  padding: 21px 19px;
}

.progress{
  border-radius: 9.18519px;
}